#main {
    width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6em;
    cursor: pointer;
}

.annotation {
    font-weight: bolder;
    font-size: 1.15em;
    padding-left: 2px;
    padding-right: 2px;
}

.annotation-wrapper .show {
    display: block;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
    border: 1px solid #eee;
    min-width: 500px;
    margin-right: 300px;
}

.annotation-wrapper .quote {
    background-color: #eee;
}

.annotation-wrapper .comment {
    /*text-align: center;*/
}

.annotation-wrapper sup.start-mark {
    font-size: 0.9em;
    margin-right: 5px;
    color: #666;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#add-comment {
}

#add-comment div {
}

#add-comment textarea {
    min-width: 300px;
    min-height: 100px;
}

div#add-comment {
}

